  body {
    margin: 0 auto;
    padding: 3px;
    background-color: #fff;
  }
  
  .game-container {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
  }

  .jokes-area {
    min-width: 303px;
    height: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px;
    border: 1px solid #979797;
    margin-bottom: 10px;
  }